In [1]:
%pip install certifi

Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (2026.1.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import ssl, certifi
ssl._create_default_https_context = ssl._create_unverified_context

In [1]:
%pip install yfinance fredapi lxml html5lib beautifulsoup4

Requirement already satisfied: yfinance in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (1.1.0)
Requirement already satisfied: fredapi in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (0.5.2)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (6.0.2)
Requirement already satisfied: html5lib in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (1.1)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (4.14.3)
Requirement already satisfied: pandas>=1.3.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (3.0.0)
Requirement already satisfied: numpy>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (2.4.2)
Requirement already satisfied: requests>=2.31 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (4.5.1)
Requirement already satisfied: pytz>=2022.5 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (2.4.7)
Requirement already satisfied: peewee>=3.16.2 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (3.19.0)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (6.33.5)
Requirement already satisfied: websockets>=13.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from yfinance) (16.0)
Requirement already satisfied: cffi>=1.12.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2026.1.4)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>=1.6.1 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from beautifulsoup4) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: pycparser in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from requests>=2.31->yfinance) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from requests>=2.31->yfinance) (2.6.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
from fredapi import Fred

print("Everything works ðŸ‘")

Everything works ðŸ‘

In [4]:
import yfinance as yf

tickers = yf.Tickers("^GSPC").symbols

In [5]:
import yfinance as yf

sp500 = yf.download("^GSPC", period="1d")
print("Yahoo connection works ðŸ‘")

[*********************100%***********************]  1 of 1 completed

Yahoo connection works ðŸ‘

In [6]:
%pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from pandas-datareader) (6.0.2)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from pandas-datareader) (3.0.0)
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from pandas-datareader) (2.32.5)
Requirement already satisfied: numpy>=2.3.3 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from pandas>=0.23->pandas-datareader) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from pandas>=0.23->pandas-datareader) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from requests>=2.19.0->pandas-datareader) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from requests>=2.19.0->pandas-datareader) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from requests>=2.19.0->pandas-datareader) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages (from requests>=2.19.0->pandas-datareader) (2026.1.4)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
tickers = ["AAPL", "MSFT", "GOOGL", "AMZN", "SPY"]

In [9]:
prices = yf.download(tickers, start="1995-01-01")

[*********************100%***********************]  5 of 5 completed

In [10]:
prices.head()

Price          Close                                      High             \
Ticker          AAPL AMZN GOOGL      MSFT        SPY      AAPL AMZN GOOGL
Date
1995-01-03  0.284213  NaN   NaN  2.297869  26.584360  0.287916  NaN   NaN
1995-01-04  0.291620  NaN   NaN  2.314572  26.711393  0.293471  NaN   NaN
1995-01-05  0.287916  NaN   NaN  2.276394  26.711393  0.291620  NaN   NaN
1995-01-06  0.311061  NaN   NaN  2.314572  26.738598  0.319393  NaN   NaN
1995-01-09  0.305159  NaN   NaN  2.300255  26.765833  0.310135  NaN   NaN

Price                            ...      Open                       \
Ticker          MSFT        SPY  ...      AAPL AMZN GOOGL      MSFT
Date                             ...
1995-01-03  2.347978  26.620653  ...  0.287916  NaN   NaN  2.347978
1995-01-04  2.319344  26.711393  ...  0.286065  NaN   NaN  2.300255
1995-01-05  2.328889  26.774906  ...  0.290693  NaN   NaN  2.324117
1995-01-06  2.338433  26.856549  ...  0.308283  NaN   NaN  2.285938
1995-01-09  2.328888  26.765833  ...  0.308283  NaN   NaN  2.324116

Price                      Volume
Ticker            SPY        AAPL AMZN GOOGL      MSFT       SPY
Date
1995-01-03  26.538994   103868800  NaN   NaN  39545600  324300.0
1995-01-04  26.702320   158681600  NaN   NaN  51611200  351800.0
1995-01-05  26.729540    73640000  NaN   NaN  39824000   89800.0
1995-01-06  26.765817  1076622400  NaN   NaN  46681600  448400.0
1995-01-09  26.729540   274086400  NaN   NaN  46000000   36800.0

[5 rows x 25 columns]

In [11]:
prices.tail()

Price            Close                                                  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY
Date
2026-02-04  276.231506  232.990005  333.040009  414.190002  686.190002
2026-02-05  275.652069  222.690002  331.250000  393.670013  677.619995
2026-02-06  277.859985  210.320007  322.859985  401.140015  690.619995
2026-02-09  274.619995  208.720001  324.320007  413.600006  693.950012
2026-02-10  273.630005  207.625000  319.230011  415.125000         NaN

Price             High                                                  ...  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY  ...
Date                                                                    ...
2026-02-04  278.689229  238.860001  343.309998  419.799988  691.450012  ...
2026-02-05  279.238709  226.309998  332.690002  408.299988  683.690002  ...
2026-02-06  280.647386  211.440002  330.380005  401.790009  692.309998  ...
2026-02-09  278.200012  212.809998  327.700012  414.890015  695.869995  ...
2026-02-10  275.359985  212.649902  321.670013  423.679993         NaN  ...

Price             Open                                                  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY
Date
2026-02-04  272.035451  238.860001  342.959991  411.000000  690.349976
2026-02-05  277.869995  224.910004  312.220001  407.440002  680.940002
2026-02-06  276.860920  202.699997  327.179993  399.170013  681.460022
2026-02-09  277.910004  208.970001  320.929993  404.850006  689.419983
2026-02-10  274.885010  208.744995  320.950012  419.619995         NaN

Price         Volume
Ticker          AAPL         AMZN       GOOGL      MSFT          SPY
Date
2026-02-04  90545700   51299900.0  70618400.0  45012400  105204600.0
2026-02-05  52977400  103509200.0  88205800.0  66289200  113610800.0
2026-02-06  50453400  179210900.0  56380500.0  53515300   89127600.0
2026-02-09  44623400   91178400.0  39640100.0  45480500   73885200.0
2026-02-10  17624775   46549103.0  27091379.0  25089759          NaN

[5 rows x 25 columns]

In [13]:
prices.to_csv("~/Downloads/prices.csv")

In [14]:
prices.dtypes

Price   Ticker
Close   AAPL      float64
        AMZN      float64
        GOOGL     float64
        MSFT      float64
        SPY       float64
High    AAPL      float64
        AMZN      float64
        GOOGL     float64
        MSFT      float64
        SPY       float64
Low     AAPL      float64
        AMZN      float64
        GOOGL     float64
        MSFT      float64
        SPY       float64
Open    AAPL      float64
        AMZN      float64
        GOOGL     float64
        MSFT      float64
        SPY       float64
Volume  AAPL        int64
        AMZN      float64
        GOOGL     float64
        MSFT        int64
        SPY       float64
dtype: object

In [15]:
prices.describe

<bound method NDFrame.describe of Price            Close                                                  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY
Date
1995-01-03    0.284213         NaN         NaN    2.297869   26.584360
1995-01-04    0.291620         NaN         NaN    2.314572   26.711393
1995-01-05    0.287916         NaN         NaN    2.276394   26.711393
1995-01-06    0.311061         NaN         NaN    2.314572   26.738598
1995-01-09    0.305159         NaN         NaN    2.300255   26.765833
...                ...         ...         ...         ...         ...
2026-02-04  276.231506  232.990005  333.040009  414.190002  686.190002
2026-02-05  275.652069  222.690002  331.250000  393.670013  677.619995
2026-02-06  277.859985  210.320007  322.859985  401.140015  690.619995
2026-02-09  274.619995  208.720001  324.320007  413.600006  693.950012
2026-02-10  273.630005  207.625000  319.230011  415.125000         NaN

Price             High                                                  ...  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY  ...
Date                                                                    ...
1995-01-03    0.287916         NaN         NaN    2.347978   26.620653  ...
1995-01-04    0.293471         NaN         NaN    2.319344   26.711393  ...
1995-01-05    0.291620         NaN         NaN    2.328889   26.774906  ...
1995-01-06    0.319393         NaN         NaN    2.338433   26.856549  ...
1995-01-09    0.310135         NaN         NaN    2.328888   26.765833  ...
...                ...         ...         ...         ...         ...  ...
2026-02-04  278.689229  238.860001  343.309998  419.799988  691.450012  ...
2026-02-05  279.238709  226.309998  332.690002  408.299988  683.690002  ...
2026-02-06  280.647386  211.440002  330.380005  401.790009  692.309998  ...
2026-02-09  278.200012  212.809998  327.700012  414.890015  695.869995  ...
2026-02-10  275.359985  212.649902  321.670013  423.679993         NaN  ...

Price             Open                                                  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY
Date
1995-01-03    0.287916         NaN         NaN    2.347978   26.538994
1995-01-04    0.286065         NaN         NaN    2.300255   26.702320
1995-01-05    0.290693         NaN         NaN    2.324117   26.729540
1995-01-06    0.308283         NaN         NaN    2.285938   26.765817
1995-01-09    0.308283         NaN         NaN    2.324116   26.729540
...                ...         ...         ...         ...         ...
2026-02-04  272.035451  238.860001  342.959991  411.000000  690.349976
2026-02-05  277.869995  224.910004  312.220001  407.440002  680.940002
2026-02-06  276.860920  202.699997  327.179993  399.170013  681.460022
2026-02-09  277.910004  208.970001  320.929993  404.850006  689.419983
2026-02-10  274.885010  208.744995  320.950012  419.619995         NaN

Price           Volume
Ticker            AAPL         AMZN       GOOGL      MSFT          SPY
Date
1995-01-03   103868800          NaN         NaN  39545600     324300.0
1995-01-04   158681600          NaN         NaN  51611200     351800.0
1995-01-05    73640000          NaN         NaN  39824000      89800.0
1995-01-06  1076622400          NaN         NaN  46681600     448400.0
1995-01-09   274086400          NaN         NaN  46000000      36800.0
...                ...          ...         ...       ...          ...
2026-02-04    90545700   51299900.0  70618400.0  45012400  105204600.0
2026-02-05    52977400  103509200.0  88205800.0  66289200  113610800.0
2026-02-06    50453400  179210900.0  56380500.0  53515300   89127600.0
2026-02-09    44623400   91178400.0  39640100.0  45480500   73885200.0
2026-02-10    17624775   46549103.0  27091379.0  25089759          NaN

[7829 rows x 25 columns]>

In [16]:
prices.info

<bound method DataFrame.info of Price            Close                                                  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY
Date
1995-01-03    0.284213         NaN         NaN    2.297869   26.584360
1995-01-04    0.291620         NaN         NaN    2.314572   26.711393
1995-01-05    0.287916         NaN         NaN    2.276394   26.711393
1995-01-06    0.311061         NaN         NaN    2.314572   26.738598
1995-01-09    0.305159         NaN         NaN    2.300255   26.765833
...                ...         ...         ...         ...         ...
2026-02-04  276.231506  232.990005  333.040009  414.190002  686.190002
2026-02-05  275.652069  222.690002  331.250000  393.670013  677.619995
2026-02-06  277.859985  210.320007  322.859985  401.140015  690.619995
2026-02-09  274.619995  208.720001  324.320007  413.600006  693.950012
2026-02-10  273.630005  207.625000  319.230011  415.125000         NaN

Price             High                                                  ...  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY  ...
Date                                                                    ...
1995-01-03    0.287916         NaN         NaN    2.347978   26.620653  ...
1995-01-04    0.293471         NaN         NaN    2.319344   26.711393  ...
1995-01-05    0.291620         NaN         NaN    2.328889   26.774906  ...
1995-01-06    0.319393         NaN         NaN    2.338433   26.856549  ...
1995-01-09    0.310135         NaN         NaN    2.328888   26.765833  ...
...                ...         ...         ...         ...         ...  ...
2026-02-04  278.689229  238.860001  343.309998  419.799988  691.450012  ...
2026-02-05  279.238709  226.309998  332.690002  408.299988  683.690002  ...
2026-02-06  280.647386  211.440002  330.380005  401.790009  692.309998  ...
2026-02-09  278.200012  212.809998  327.700012  414.890015  695.869995  ...
2026-02-10  275.359985  212.649902  321.670013  423.679993         NaN  ...

Price             Open                                                  \
Ticker            AAPL        AMZN       GOOGL        MSFT         SPY
Date
1995-01-03    0.287916         NaN         NaN    2.347978   26.538994
1995-01-04    0.286065         NaN         NaN    2.300255   26.702320
1995-01-05    0.290693         NaN         NaN    2.324117   26.729540
1995-01-06    0.308283         NaN         NaN    2.285938   26.765817
1995-01-09    0.308283         NaN         NaN    2.324116   26.729540
...                ...         ...         ...         ...         ...
2026-02-04  272.035451  238.860001  342.959991  411.000000  690.349976
2026-02-05  277.869995  224.910004  312.220001  407.440002  680.940002
2026-02-06  276.860920  202.699997  327.179993  399.170013  681.460022
2026-02-09  277.910004  208.970001  320.929993  404.850006  689.419983
2026-02-10  274.885010  208.744995  320.950012  419.619995         NaN

Price           Volume
Ticker            AAPL         AMZN       GOOGL      MSFT          SPY
Date
1995-01-03   103868800          NaN         NaN  39545600     324300.0
1995-01-04   158681600          NaN         NaN  51611200     351800.0
1995-01-05    73640000          NaN         NaN  39824000      89800.0
1995-01-06  1076622400          NaN         NaN  46681600     448400.0
1995-01-09   274086400          NaN         NaN  46000000      36800.0
...                ...          ...         ...       ...          ...
2026-02-04    90545700   51299900.0  70618400.0  45012400  105204600.0
2026-02-05    52977400  103509200.0  88205800.0  66289200  113610800.0
2026-02-06    50453400  179210900.0  56380500.0  53515300   89127600.0
2026-02-09    44623400   91178400.0  39640100.0  45480500   73885200.0
2026-02-10    17624775   46549103.0  27091379.0  25089759          NaN

[7829 rows x 25 columns]>

In [18]:
prices.columns

MultiIndex([( 'Close',  'AAPL'),
            ( 'Close',  'AMZN'),
            ( 'Close', 'GOOGL'),
            ( 'Close',  'MSFT'),
            ( 'Close',   'SPY'),
            (  'High',  'AAPL'),
            (  'High',  'AMZN'),
            (  'High', 'GOOGL'),
            (  'High',  'MSFT'),
            (  'High',   'SPY'),
            (   'Low',  'AAPL'),
            (   'Low',  'AMZN'),
            (   'Low', 'GOOGL'),
            (   'Low',  'MSFT'),
            (   'Low',   'SPY'),
            (  'Open',  'AAPL'),
            (  'Open',  'AMZN'),
            (  'Open', 'GOOGL'),
            (  'Open',  'MSFT'),
            (  'Open',   'SPY'),
            ('Volume',  'AAPL'),
            ('Volume',  'AMZN'),
            ('Volume', 'GOOGL'),
            ('Volume',  'MSFT'),
            ('Volume',   'SPY')],
           names=['Price', 'Ticker'])

In [20]:
# prices has MultiIndex columns with names=['Price','Ticker']
aapl = prices.xs('AAPL', level='Ticker', axis=1)

In [21]:
aapl.head()

Price          Close      High       Low      Open      Volume
Date
1995-01-03  0.284213  0.287916  0.280510  0.287916   103868800
1995-01-04  0.291620  0.293471  0.286065  0.286065   158681600
1995-01-05  0.287916  0.291620  0.286990  0.290693    73640000
1995-01-06  0.311061  0.319393  0.304581  0.308283  1076622400
1995-01-09  0.305159  0.310135  0.303654  0.308283   274086400

In [23]:
aapl.isna().any()

Price
Close     False
High      False
Low       False
Open      False
Volume    False
dtype: bool

In [24]:
import pandas as pd

# 126 trading days ahead
forecast_days = 126

# Create a new column 'Future_Close' that is the Close price shifted up by 126 days
aapl['Future_Close'] = aapl['Close'].shift(-forecast_days)

In [25]:
aapl.head()

Price          Close      High       Low      Open      Volume  Future_Close
Date
1995-01-03  0.284213  0.287916  0.280510  0.287916   103868800      0.349551
1995-01-04  0.291620  0.293471  0.286065  0.286065   158681600      0.346293
1995-01-05  0.287916  0.291620  0.286990  0.290693    73640000      0.350017
1995-01-06  0.311061  0.319393  0.304581  0.308283  1076622400      0.362118
1995-01-09  0.305159  0.310135  0.303654  0.308283   274086400      0.362118

In [26]:

# Features
X = aapl[['Open', 'High', 'Low', 'Close', 'Volume']].iloc[:-forecast_days]

# Target
y = aapl['Future_Close'].iloc[:-forecast_days]

In [27]:
split = int(len(X) * 0.8)  # 80% training, 20% test

X_train = X.iloc[:split]
X_test  = X.iloc[split:]

y_train = y.iloc[:split]
y_test  = y.iloc[split:]

In [28]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled  = scaler.transform(X_test)

In [29]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Predict
y_pred = model.predict(X_test_scaled)

# Evaluate
mse = mean_squared_error(y_test, y_pred)
print("MSE:", mse)

MSE: 738.2526941352086

In [31]:
import numpy as np

latest_data = aapl[['Open','High','Low','Close','Volume']].iloc[-1].values.reshape(1,-1)
latest_scaled = scaler.transform(latest_data)

future_price = model.predict(latest_scaled)
print("Predicted Apple price in 6 months:", future_price[0])

Predicted Apple price in 6 months: 294.1580582136654

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/sklearn/utils/validation.py:2691: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(